html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*===== Reset =====*/
body,
h1,
h2,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*===== Typography =====*/
body {
  font-family: "Public Sans", sans-serif;
  font-weight: $font-w-reg;
  font-size: $font-sm;
  line-height: 1.3;
  color: $clr-white;
  background-color: $clr-black-1;

  &.noscroll {
    overflow: hidden;
  }

  @include breakpoint-up(large) {
    font-size: $font-med;
  }
}

h1 {
  font-size: $font-lg;

  @include breakpoint-up(large) {
    font-size: $font-xlg;
  }
}

h2 {
  font-size: $font-med;
  color: $clr-red;

  @include breakpoint-up(large) {
    font-size: $font-lg;
  }
}

/*===== General Styles =====*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: hsla(346, 75%, 50%, 0.85);
}

::-webkit-scrollbar-thumb:hover {
  background: $clr-red;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  max-width: 69.375rem;
  margin: 0 auto;
  padding: 5rem 2rem;
  text-align: center;
  border-radius: 6px;

  &__title {
    margin-bottom: 1.5rem;
  }

  &__subtitle {
    margin-bottom: 0.5rem;
  }

  &__intro {
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

button,
.button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 1.1875rem;
  border-radius: 7px;
  background-color: $clr-red;
  border: 0;
  cursor: pointer;
  color: $clr-white;
  font-weight: $font-w-bold;
  font-size: $font-sm;
  color: $clr-white;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;

  > i {
    margin-left: 0.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}
